body {
  background-color: white;
}
.header{
  font-family: 'Oswald', sans-serif;
}
#rank-title{
   font-family: 'Oswald', sans-serif;
}
#desc{
  color:grey;
  padding: 0;
  padding-left: 10px;
}
a:link {
  text-decoration: none;
}

*{
  padding:10px;
 }
li{
  list-style-type:none;
  padding-left: 0;

}
ul{
  padding-left: 0;
  margin:0;
}
.minister-img{
  cursor: pointer;
  width: 50px;
}
.scrollable-menu {
  height: auto;
  max-height: 250px;
  overflow-x: hidden;
}
.scrollable-rank {
  max-height: 400px;
  overflow-x: hidden;
}
#rankList td { 
    padding:0px;
}
#tooltip
{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  visibility: hidden;
	width: 100px;
	height: 40px;
	background-color: #01020d;
	opacity: 0.75;
	font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; 
	font-size:11px;
	color:white;
	text-align: center;
}
=======
body {
  background-color: white;
}
.header{
  font-family: 'Oswald', sans-serif;
}
#desc{
  color:grey;
  padding: 0;
  padding-left: 10px;
}
a:link {
  text-decoration: none;
}

*{
  padding:10px;
 }
li{
  list-style-type:none;
  padding-left: 0;

}
ul{
  padding-left: 0;
  margin:0;
}

.scrollable-menu {
  height: auto;
  max-height: 100px;
  overflow-x: hidden;
}
.scrollable-rank {
  height: auto;
  max-height: 400px;
  overflow-x: hidden;
}
#tooltip
{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
	width: 100px;
	height: 40px;
	background-color: #01020d;
	opacity: 0.75;
	font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; 
	font-size:11px;
	color:white;
	text-align: center;
}
